
<html lang="en">
<head>
    <title>Create Concept</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/js/ckeditor/ckeditor.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

   

    <style type="text/css">
        
        .left-nav {
            float: left;
            width: 11.9%;
            height: 100%;
            margin-top: 10px;
            /*border: 1px solid;*/
            /*background: #C2DFFF;*/
        }
        .top-nav {
            height: 60px;
            border: 1px solid;
        }
        .logout {
            margin-top:10px;
            float: right;
        }
        .container {
            width: 87%;
            min-height:500px;
            float: right;
        }
        .concept-creation-form{
            margin-right: 40px;
        }
        .checkboxes-layout {
            margin: 10px 20px;
        }

    </style>

</head>

<body>

    <div class="top-nav">
        <input type="button" class="btn btn-primary logout" value="LOGOUT" onclick="logOut();"/> 
        <div id="created-success" style="display: none;">
            Concept Created Successfully.
        </div>
    </div>
    <div class="left-nav"></div>

   <div class="container" style="display: none;">

        <h2>Create Concept</h2>
        <form role="form" id="concept_form" enctype="multipart/form-data" id="create-concept" class="concept-creation-form">
        
            <div class="form-group">
                <label for="concept_title">Concept Title:</label>
                <input class="form-control" id="concept_title" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label for="producer">Producer:</label>
                <input class="form-control" id="producer" placeholder="Enter producer name">
            </div>

            <div class="form-group">
                <label for="talent">Talent:</label>
                <input class="form-control" id="talent" placeholder="Enter talent name">
            </div>

            <div class="form-group">
                <label for="no_of_videos">No. of Videos:</label>
                <input class="form-control" id="no_of_videos" placeholder="Enter no of videos to be created from this concept">
            </div>
            <div id="video_names"></div>

           <div class="form-group">
                <label for="concept_note">Concept Note:</label>
                <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
            </div>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
            <div class="form-group">
                <label class="control-label">Select File</label>
                <input id="file-1" type="file" class="file" >
            </div>
             

            <div class="form-group" style="display: none;">
                <label for="embeded-link">Enter Link</label>
                <input id="embeded-link" class="form-control" placeholder="Enter the youtube video link">
            </div>

            <div class="form-group" id="uploaded_files"></div>

            <div class="form-group">
                <label for="shoot_days">Shoot Days:</label>
                <input class="form-control" id="shoot_days" placeholder="Enter shoot days">
            </div>

            <div class="form-group" style="display: none;">
                <label for="talent_costs">Talent Costs:</label>
                <input class="form-control" id="talent_costs" placeholder="Enter talent costs">
            </div>            

            <div class="form-group" style="display: none;">
                <label for="set_and_art">Set and Art:</label>
                <input class="form-control" id="set_and_art" placeholder="Enter set and art costs">
            </div>

            <div class="form-group" id="checkboxes">
                <label for="crew">Crew:</label>
                <label><input type="checkbox" style="margin-left: 10px;" id="other" name="crew">  Other</label>
                <input id="other-crew" class="checkboxes-layout" name="crew" style="display: none;"></input>
            </div>

            <div class="form-group" style="display: none;">
                <label for="total_budget">Total Budget:</label>
                <input class="form-control" id="total_budget" placeholder="Enter total budget">
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" id="status" placeholder="Enter status">
                    
                </select>
            </div>

            <input type="button" class="btn btn-primary" onclick="create_new_concept();" value="Create" />
        </form>

    </div>
    <script type="text/javascript">


        //var SERVER_URL = "http://localhost:5000"; 
        var uploaded_file_link = null;
        var is_uploading = false;
        var crew_set = [];
        var cookie_token = Cookies.get('token');

        var query_params = document.URL.split(  '?')
                       .pop()
        var ROLE = query_params.split("=")[1];

        function logOut()
        {
            console.log("In logout");
            Cookies.remove('token');
            $(".container").hide();
        }
        function convert_to_id(input_str){
            return input_str.replace(" ", "");
        }

        $(document).ready(function(){
            if (cookie_token != null){
                $(".container").show();
            }
            else{
                window.location.href = BASE_URL;
            }

            $.ajax({
                url: SERVER_URL + "/crew",
                type: "GET",
                success: function(data){
                    all_crew = JSON.parse(data);
                   
                    for (index in all_crew){
                        if (document.getElementById(convert_to_id( all_crew[index]['crew_name'] )) == null)
                        {
                            var each_crew = $("<label><input type=\"checkbox\" style=\"margin-left: 10px;\" value=\"" + all_crew[index]['crew_name'] + "\" id=\""+ convert_to_id(all_crew[index]['crew_name']) +"\" name=\"crew\">"+ all_crew[index]['crew_name'] +"</label>");
                            $("#checkboxes").append(each_crew);
                        }
                    }
                }
            });

            if (ROLE == "Admin" || ROLE == "EP"){
                var options_select = $("<option value=\"In progress\">In progress</option>"+
                    "<option value=\"Pending Approval\">Pending Approval</option>" +
                    "<option value=\"Approved\">Approved</option>" +
                    "<option value=\"Rejected\">Rejected</option>" +
                    "<option value=\"Develop Further\">Develop Further</option>"
                );
                $("#status").append(options_select); 
            }
            else {
            
                var options_select = $("<option value=\"In progress\">In progress</option>"+
                    "<option value=\"Pending Approval\">Pending Approval</option>" +
                    "<option value=\"Approved\" disabled>Approved</option>" +
                    "<option value=\"Rejected\" disabled>Rejected</option>" +
                    "<option value=\"Develop Further\" disabled>Develop Further</option>"
                );
                $("#status").append(options_select); 
            }
        })
        function create_new_concept()
        {
            /*if (is_uploading){
                setTimeout(function(){create_new_concept()}, 3000);   
            }*/
            $.each($("input[name='crew']:checked"), function(){
                if($(this).attr("id") == "other"){
                    var others = $("#other-crew").val().split(",");
                    for (var i=0;i<others.length;i++){
                        crew_set.push(others[i]);   
                    }
                }
                else crew_set.push($(this).val());
            }); 
            create_new_concept_helper();
        }

        function create_new_concept_helper()
        {
            var video_names = [];
            for(var i=0; i < $("#no_of_videos").val(); i++){
                video_names.push($("#video_" + i).val());
            }

            var formData = new FormData();
            formData.append("concept_title", $("#concept_title").val())
            formData.append("producer", $("#producer").val())
            formData.append("talent", $("#talent").val())
            formData.append("no_of_videos", $("#no_of_videos").val())
            formData.append("video_names", video_names)
            formData.append("concept_note", CKEDITOR.instances.editor1.getData())
            formData.append("shoot_days", $("#shoot_days").val())
            formData.append("talent_costs", $("#talent_costs").val())
            formData.append("set_and_art", $("#set_and_art").val())
            formData.append("crew", crew_set)
            formData.append("total_budget", $("#total_budget").val())
            formData.append("file_storage_url", uploaded_file_link)
            formData.append("embeded_links", $("#embeded-link").val())
            formData.append("status", $("#status option:selected").text())

            $.ajax({
                url: "http://localhost:5000/concept",
                type: "POST",
                data: formData,
                crossDomain: true,
                headers: { 'token': cookie_token },
                contentType: false,
                cache: false,
                processData: false,
                success: function(data){
                    console.log("Concept stored!!! Hurrey :D");
                    $(".container").hide();
                    $("#created-success").show();

                }
            });
        };
        

        $("#no_of_videos").on('blur', function(){   
            var previous_no_of_videos =   $("#video_names div").length;
            
            if (!$("#no_of_videos").val()){
                return;
            }   
            current_no_of_videos = parseInt($("#no_of_videos").val())
            
            if (previous_no_of_videos < current_no_of_videos){
                var diff = current_no_of_videos - previous_no_of_videos
                for (i = 0; i < diff; i++){
                    var video_name = $("<div class=\"form-group\"><input class=\"form-control\" id=\"video_" + i + "\" placeholder=\"Enter Video Title\"></input></div>");
                    $("#video_names").append(video_name);    
                }
            }

            else if (previous_no_of_videos > current_no_of_videos){
                
                var diff = current_no_of_videos - previous_no_of_videos
                
                for (i = 0; i > diff; i--){
                    
                    $("#video_names div:last-child").remove();
                }
            }

            previous_no_of_videos = current_no_of_videos;

        });

        $("#embeded-link").on('blur', function(){
           $.ajax({
                url: "http://localhost:5000/embeded_link/?url=" + $("#embeded-link").val(),
                type: "GET",
                success: function(data){
                    data = JSON.parse(data);
                    var uploaded_file = $(data.embeded_link);
                    $("#uploaded_files").append(uploaded_file);
                }
            }); 
        });

        $(document).on('change','#file-1' , function(){ 
            uploadFile(); 
        });

        function uploadFile()
        {
            is_uploading = true;
            var formData = new FormData();
            formData.append('file', $( '#file-1' )[0].files[0]);
            

            $.ajax({
                url: SERVER_URL + "/file_upload",
                type: "POST",
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data){
                    //TODO: show_loader
                    data = JSON.parse(data);
                    uploaded_file_link = data.google_store_file_path;
                    
                },
                complete: function(data){
                    is_uploading = false;
                }
            });
        };
        $("#shoot_days").on('blur', function(){ 
            if ($(this).val() < 0){
                $(this).css("border", "1px solid red");
                alert("Enter Positive value")
            }
            else{
                $(this).css("border", "");
            }
        });

        $("#other").on('click', function(){ 
            if ($("#other").is(":checked") == true) {
                $('#other-crew').show();
                
            }
            else{
                $('#other-crew').hide();
            }
        });
        $("#concept_title").on('blur', function(){ 
            
            
            if (typeof $(this).val() != 'string'){
                $("#concept_title").css("border", "1px solid red");
                //alert("Title should contain alphanumeric values.")
            }
            else{
                $("#concept_title").css("border", "");
            }
        });


        $("#producer").on('blur', function(){ 
            if (typeof $(this).val() != 'string'){
                $("#producer").css("border", "1px solid red");
                //alert("producer should contain string values.")
            }
            else{
                $("#producer").css("border", "");
            }
        });


        $("#talent").on('blur', function(){ 
            if (typeof $("#talent").val() != 'string'){
                $("#talent").css("border", "1px solid red");
                //alert("Talent should contain string values.")
            }
            else{
                $("#talent").css("border", "");
            }
        });


        $("#no_of_videos").on('blur', function(){

            if (typeof $(this).val() < 0){
                $("#no_of_videos").css("border", "1px solid red");
                //alert("No of videos should contain numeric values.")
            }
            else{
                $("#no_of_videos").css("border", "");
            }
        });

        
        
    </script>


</body>
</html>
